GROQ_API_KEY=
OLLAMA_EMBED_MODEL=nomic-embed-text
DOTA2_HEROES_URL=https://api.opendota.com/api/constants/heroes
DOTA2_HERO_ABILITIES_URL=https://api.opendota.com/api/constants/hero_abilities
DOTA2_ABILITIES_URL=https://api.opendota.com/api/constants/abilities
DOTA2_AGHS_URL=https://api.opendota.com/api/constants/aghs_desc